.mi-cuenta-container {
    display: flex;
    flex-direction: column;
    justify-content:last baseline;
    align-items: center; /* Centra horizontalmente el contenido */
    min-height: 100vh; /* Hace que el contenedor ocupe al menos toda la altura de la ventana */
    width: 100vw;
    background-image: url("/fondo-signin.jpeg"); /* Cambia esto a la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    margin: 0; /* Elimina márgenes en el contenedor */
    padding-top: 4rem; /* Añade espacio en la parte superior */
}

.mi-cuenta-box {
    max-width: 400px; /* Ajusta el ancho máximo del contenedor del formulario */
    width: 90%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aumenta la sombra para mayor contraste */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido del formulario horizontalmente */
    margin: 20px;
}

.mi-cuenta-box h1 {
    margin-bottom: 20px; /* Añade espacio debajo del encabezado */
}

.mi-cuenta-box form, .mi-cuenta-box .user-info {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espacio entre los elementos del formulario */
    width: 100%;
}

.mi-cuenta-box button {
    margin-top: 20px; /* Añade espacio encima del botón */
}

.mi-cuenta-box input {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2); /* Color de borde más claro */
    border-radius: 5px;
    font-size: 1rem;
}

.mi-cuenta-box label {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 5px; /* Espacio debajo del label */
}
